
body, html, .container {
  background: transparent;
  padding: 0;
  margin: 0; 
}


#wrapper{
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: rotate 16s infinite linear;
}

@keyframes rotate{
  100%{
    transform: rotateX(360deg) rotateY(360deg);

  }
}

.particle {
  position: fixed;
  width: 2px;
  height: 2px;
  margin-top: 10%; /* Half of height */
  left: 50%;
  border-radius: 50%;
  opacity: 20;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

